.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 430px;
  max-height: 330px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px 0 36px;
}
.popupOpen {
  display: flex;
}
.popup__close-button {
  position: absolute;
  top: -50px;
  right: -50px;
  background-color: transparent;
  border: none;
  transform: opacity 0.3 ease;
}
.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.popup__close-button-image {
  width: 32px;
  height: 32px;
}
.popup__title {
  max-width: 330px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-self: flex-start;
  padding: 34px 64px 0 36px;
  margin: 0;
}
.popup__profile-name {
  max-width: 358px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-self: flex-start;
  border: none;
  padding: 54px 36px 0 36px;
  margin: 0;
}
.popup__profile-title {
  max-width: 358px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-self: flex-start;
  border: none;
  padding: 43px 36px 61px 36px;
}
.popup__submit-button {
  width: 358px;
  height: 50px;
  padding: 0 36px 37px 36px;
  margin: 0;
  background-image: url(/images/submit-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: white;
  transform: opacity .3 ease;
}
.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}