.place__like-button_active {
  width: 22px;
  height: 19px;
  transition: opacity 0.3 ease;
  background-color: transparent;
  border: none;
  background-image: url(../../../../images/like-button-active.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.place__like-button_active:hover {
  cursor: pointer;
  opacity: 0.5;
}