.profile__edit-button {
  margin-left: 25px;
  max-width: 24px;
  transition: opacity 0.3 ease;
  background-color: transparent;
  border: none;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}