.popup__submit-button {
  width: 358px;
  height: 50px;
  background-image: url(/images/submit-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: white;
  transform: opacity .3 ease;
  margin: 0 0 37px 0;
}
.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 469px) and (min-width: 320px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    margin: 0 0 25px 0;
    background-size: contain;
  }
}